html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgrey;
}

main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    background-color: white;
    max-width: 1600px;
    font-size: 28pt;
}

.top-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('images/background.jpg');
    opacity: 0.5;
    background-position-y: -130px;
    background-size: cover;
    max-width: 600px;
}

.top-section::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(1, 1, 1, 0.8);
}

.top-section{
    position: relative;
    color: white;
    font-weight: bolder;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 25%;
    }

.film-h1, .hof-btn{
    opacity: 1;
    z-index: 2;


}

.hof-btn{
    background: transparent;
    color: white;
    font-weight: bolder;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 7px;
    border: none;
    border: 1px solid lightgray;
    font-size: 1rem;
    height: fit-content;
}

.film-h1{
    font-size: .65em;
    padding: 27px 0px;
}

.hof-btn:hover{
    background-color: #9c9c9c;
}

@media screen and (min-width: 1000px) {
    main{
        width: 85%;
    }
    
  .film-h1 {
     font-size: 2em;
  }
  .hof-btn{
      font-size: .6em;
      height: 125px;
  }

  
}


.movie-section .hof-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 75%;
    font-size: 1em;
}


.start-exploring{
    width: 85%;
    height: fit-content;
    font-size: .75em;
    color: black;
    margin: 0;
    opacity: .4;
}

.pre-add{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.reel-icon{
    width: 20%;
    height: auto;
    padding: 15px 0 0 0;
    opacity: .4;
}


.film-poster, .film-title, .film-rating, 
.film-runtime, .film-genre, .add-to-hof, .plot{
    height: fit-content;
    margin: 0;
    /* border: 1px solid black; */
}

.film-wpr{
    display: grid;
    grid-template-areas: 
    "..... ..... ..... ..... ..... ..... ..... ....."
    "..... poster ..... title title title watchlist ....."
    "..... poster ..... runtime rating genre genre ....."
    "..... poster ..... plot plot plot plot ....."
    "..... ..... ..... ..... ..... ..... ..... ....."; 
    grid-template-columns: 10px 25% 10px fit-content(50px) 50px 1fr 90px 10px;
    grid-template-rows: 10px fit-content(30px) fit-content(35px) fit-content(100px) 10px;
    height: fit-content;
    border-bottom: 1px solid grey;
    background-color: white;
}

.film-poster{
    grid-area: poster;
    box-shadow: 0px 0px 10px 0px rgba(53, 51, 51, 0.925);
    height: 130px;
    width: auto;
    align-self: center;
    justify-self: center;
}

.film-title{
    grid-area: title;
    font-size: .425em;
    margin: 0;
    padding: 0;
    align-self: center;
    
}

.film-rating{
    grid-area: rating;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .4em;
    height: 100%;

}

.film-runtime{
    display: flex;
    align-items: center;
    grid-area: runtime;
    font-size: .4em;
    height: 100%;
}

.film-genre{
    display: flex;
    align-items: center;
    grid-area: genre;
    font-size: .4em;
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}

.remove-from-hof{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: fit-content;
    width: 100%;
    grid-area: watchlist;
    font-size: .3em;
    font-weight: bold;
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0px;
    box-shadow: 0px 0px 5px 0px rgba(53, 51, 51, 0.925);
    border-radius: 10px;
    padding: 2px 5px;
    align-self: center;
}

.remove-from-hof:hover{
    box-shadow: 0px 0px 10px 0px rgba(53, 51, 51, 0.925);

}

.plot{
    grid-area: plot;
    height: 100%;
    font-size: .35em;

}


.fa-circle-minus{
    font-size: 1.25em;
}
.fa-star{
    color: goldenrod;
    padding: 0px 3px 4px 0px;

}
