html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgrey;
}

main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 500px;
    font-family: 'Oswald', sans-serif;
    background-color: white;
    max-width: 1600px;
    font-size: 24pt;
}

.top-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('images/background.jpg');
    opacity: 0.5;
    background-position-y: -130px;
    background-size: cover;
    max-width: 600px;
}

.top-section::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(1, 1, 1, 0.8);
}

.top-section{
    position: relative;
    color: white;
    font-weight: bolder;
    font-size: 5vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 40%;
    }

.film-h1, .hof-btn{
    opacity: 1;
    z-index: 2;


}

.hof-btn, .home{
    font-size: .5em;
    background: transparent;
    color: white;
    font-weight: bolder;
    cursor: pointer;
    padding: 5px 20px 5px 20px;
    border-radius: 7px;
    border: none;
    border: 1px solid lightgray;
}

.film-h1{
    font-size: 2em;
}

.hof-btn:hover{
    background-color: #9c9c9c;
}

@media screen and (min-width: 1000px) {
    main{
        width: 85%;
    }
    
  .film-h1 {
     font-size: 72pt;
  }
  .watchlist-btn{
      font-size: 18pt;
  }
  
}



.form-wpr{
    display: flex;
    transform: translateY(-50%);
    align-items: center;
    justify-content: space-between;
    height: 7.5%;
    width: 95%;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.459); 
    z-index: 2;
    background-color: white;
    max-width: 700px;
}

.search-bar{
    height: 100%;
    width: 70%;
    border: none;
    padding: 15px;
    cursor: pointer;
    font-size: 1.75rem;
    margin: 0px;
    background-color: white;
    border-top-left-radius:20px;
    border-top-right-radius: 20px;
}

.search-btn-2{
    height: 100%;
    width: 30%;
    border: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
    color: black;
    font-size: 2rem;
    background-color: lightgrey;
}



.movie-section .hof-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 75%;
    font-size: 2em;
}

.pre-search{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    color: #9c9c9c;
}


.start-exploring{
    font-size: 3em;
    color: black;
    margin: 0;
    opacity: .4;
}

.reel-icon{
    width: 30%;
    padding: 0;
    opacity: .4;
    max-width: 200px;
}

.post-search{
    width: 100%;
    height: 100%;
}

.film-poster, .film-title, .film-rating, 
.film-runtime, .film-genre, .add-to-hof, .plot{
    height: fit-content;
    margin: 0;
    border: 1px solid black;
}

.film-wpr{
    display: grid;
    grid-template-areas: 
    "poster ..... ..... ..... ..... ....."
    "poster ..... title title title title"
    "poster ..... runtime genre ..... watchlist"
    "poster ..... plot plot plot plot"
    "poster ..... ..... ..... ..... ....."; 
    grid-template-columns: .35fr 25px 100px fit-content(300px) 1fr 250px;
    grid-template-rows: 10px fit-content(150px) 50px 275px 15px;
    height: 500px;
    border-bottom: 1px solid grey;
    background-color: white;
    padding: 20px 20px 0 20px;
}

.film-poster{
    grid-area: poster;
    box-shadow: 0px 0px 10px 0px rgba(53, 51, 51, 0.925);
    height: 100%;
    max-height: 450px;
    width: auto;
}

.film-title{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines */
    /* -webkit-box-orient: vertical;
    overflow: hidden; */ */
    
}

.film-rating{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 10px;
    padding-top: 12px;

}

.film-runtime{
    display: flex;
    align-items: center;
    grid-area: runtime;
    font-size: .75em;
    height: 100%;
}

.film-genre{
    display: flex;
    align-items: center;
    grid-area: genre;
    font-size: .75em;
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}

.add-to-hof{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;
    grid-area: watchlist;
    font-size: .75em;
    font-weight: bold;
    /* border: none; */
    background-color: transparent;
}

.add-to-hof:hover{
    box-shadow: 0px 0px 10px 0px rgba(53, 51, 51, 0.925);
}

.plot{
    grid-area: plot;
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.title-rating-wpr{
    display: flex;
    align-items: flex-start;
    grid-area: title;
}

.fa-star{
    color: goldenrod;
    padding-right: 5px;
}

.fa-circle-plus{
    padding: 5px;
}
